.navbar-logo {
    cursor: pointer;
    width: 50px;
    height: 55px;
    float: left;
}

.navbar a {
    text-decoration: none;
    color: grey;
    letter-spacing: 1.5px;
}

.navbar a:hover {
    text-decoration: none;
    color: #01a1dd;
    border-bottom: 2px solid
}

.navbar {
    width: 100%;
    overflow: hidden;
    padding-block: 10px;
    font-family: 'Roboto', sans-serif;
}

.right-nav {
    float: right;
    // padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
    width: 300px;
    text-align: center;
}

.left-nav {
    float: left;
    padding: 20px;
}

.fa-shopping-cart {
    color:darkgrey;
    font-size: 20px;
}

.header-name {
    color: #01a1dd;
    justify-content: space-between;
    margin: 0px;
    display: inline-block;
    padding-right: 30px;
    // letter-spacing: 1.0px;
}

.logout-button {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    cursor: pointer;
}

.logout-button:hover {
    color: #01a1dd;
    border-bottom: 2px solid
}

.amurica {
    height: 15px;
    width: 19px;
    margin-left: 20px;
}

.amurica:hover {
    cursor: pointer;
}
