.product-show-whole-page-container {
    display: flex;
    padding: .5rem;
    box-sizing: border-box;
    justify-content: center;
    width: 100vw;
    margin-top: 5.688rem;

}

.product-left-side-img {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    height: auto;
    margin: 14px;
    padding-bottom: 100px;

}

.right-side-whole-container {
    display: flex;
    padding: .5rem;
    box-sizing: border-box;
    padding-right: .78125rem;
    padding-left: .78125rem;
    flex-direction: column;
    height: auto;
    width: 23%;
    justify-content: space-evenly;
}

.main-product-description {
    box-sizing: border-box;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 300;
    box-sizing: border-box;
}