// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-position: center;
    width: 600px;
    background: #ffffff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.login-form {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    max-width: 450px;
    padding: 50px;
    text-align: left;
    font-size: 13px;
}

.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: f2f2f2;
    width: 100%;
    border: 1px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    font-size: 14px; 
    text-align: center;
}

.labels {
    font-family: sans-serif;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.session-submit {
    background: #01a1dd;
    color: #f3f3f3;
    font-weight: normal;
}

.if-user-or-not {
    text-align: center;
    text-decoration: none;
}

// .login-form dropdown-signup {

// }