.splash-page-main-container {
    // display: flex;
    // justify-content: center;
    // box-sizing: border-box;
    // margin-top: 7%;
    // margin-bottom: 2%;
}

.splash-page-main-image-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #fafafa;
    flex-wrap: wrap;
    padding: 10px 20px;
    // flex-wrap: wrap;
    // justify-content: center;  
    // // margin-bottom: 2.8125rem;
    // // margin-left: 6.875rem;
    // // z-index: 0;
    // width: 100%;
    // height: auto;
    // object-fit: contain;
    // position: relative;
}


// .splash-page-img {
//     display: flex;
//     flex-wrap: wrap;
//     height: 50%;
//     width: 50%;
//     // max-width: 900px;
//     // height: auto;
//     // object-fit: cover;
//     position: relative;
//     // z-index: 1;
//     // left: 0;
//     // top: 0;
// }


.splash-page-main-container #polaroid {
//   width: 33.33%;
//   background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid {
    max-height: 70%;
    width: 31%;
    padding: 5px;
    float: left;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.quote {
  box-sizing: border-box;
  padding-top: 200px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;
  letter-spacing: 1.5px;
}

.quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.4em;
  margin-right: 0.50em;
  vertical-align: -0.2em;
}

.quote p {
  display: block;
  text-align: center;
  font-size: 42px;
}

.quote-one {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: grey;
  letter-spacing: 1.5px;
  padding-left: 15px;
}

.blue-nav  {
  background-color: #01a1dd;
  color: #ffffff;
  font-family: "Avenir Next", Avenir, Roboto, "Century Gothic", "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // text-align: center;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.blue-nav p {
  text-align: center;
  margin: 1px;
  letter-spacing: 0.5px;
}

.blue-nav-link {
  // text-decoration: none;
  color: #ffffff;
}

.blue-nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #ffffff;
}

.video-container {
  object-fit: contain;

}

.video-react-video {
  object-fit: contain;
  background-size: cover !important;
}

.video-react-control-text {
  display: hidden !important;
}

// doc get element by id "" use ref 